.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1 0 375px; */
  max-width: 415px;
  background-color: #EBE9EA;
}

.product-card img {
  object-fit: cover;
  width: 250px;
  height: 150px;
}