.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 76px 62px;
  max-width: 415px;
  background-color: #EBE9EA;
}

.product-card img {
  object-fit: cover;
  width: 250px;
}