.product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
}

@media only screen and (min-width: 420px) {
  .product-section {
    gap: 40px 20px;
  }
}